body {
  margin: auto;
  width: 75%;
  padding: 10px;
}
  nav{
    font-size: 20px;
    background-color: darkgray;
    text-align: center;
    text-decoration: none;
    font: verdana;  }
a {text-decoration: none;
font: verdana;
color: white;  }
h1 {
  background-color: black;
  color: white;
  text-align: center;
  line-height: 200%;}
h2 {
  background-color: white;
  color: black;
  text-align: center;}
h3 {
  color: black;}
h4 {
  color: back;}
p {
  font-size: 20px;
  color: darkgreen;}
div{
  color: black;
}
.logo {
  text-align: center;
  image-resolution: from-image;
}
.photo{
  text-align: center;
  image-resolution: from-image;
}
.banner{
  text-align: center;
  image-resolution: from-image;
}
.myClass
{
  font-size: 20px;
  color: white;
  background-color: gray;}
#myID
{
  background-color white;
  text-align: center;
  font-size: 12.5px;
  color: red;}
